{{ define "main" }}
<main class="wrap">
  <article class="post">
    <header>
        <time datetime="{{ .Date.Format "Jan 2, 2006" }}">{{ .Date.Format "Jan 2, 2006" }}</time>
        <h1><a href="{{ .Params.href }}" title="{{ .Title }}" target="_blank">{{ .Title }}</a></h1>
        <p>{{ .Description }}</p>
        <figure>
          <img src="{{ .Params.image }}" alt="{{ .Params.caption }}" />
        </figure>
    </header>
    <div class="content">{{ .Content }}</div>
    <!-- <nav class="more">
      <ul class="tags">
        {{ range .Params.tags }}
          <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
      </ul>
    </nav> -->
  </article>
  <nav class="pagination">
    {{ if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}"><i class="fa fa-long-arrow-left"></i> Prev article</a>
    {{ end }}

    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}">Next article <i class="fa fa-long-arrow-right"></i></a>
    {{ end }}
  </nav>
</main>
{{ end }}