<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>

  {{ partial "meta.html" . }}

  <!-- Icons -->
  <link rel="icon" href="/favicon.png" />
  <!-- <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png" /> -->

  <!-- Style & Font -->
  <link rel="stylesheet" href="/assets/css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='//fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>

</head>
<body>

  <div class="wrap">
    <header class="mb">
      <h1 class="m-0"><a href="/">{{ .Site.Title }}</a></h1>
      <p>{{ .Site.Params.description }}</p>
      {{ partial "social.html" . }}
    </header>
