<section class="about">
  <p>I advocate for <strong>data-driven</strong> and <strong>human-centered design</strong>.</p>
  
  <p>I believe that the practice of <strong>good design</strong> is a great tool for creating a better world for everyone. I trust that with the right strategies, <strong>design practice</strong> will push business growth and deliver great results at an incremental pace. 
    
  <p>I am an expert in <strong>product design</strong>, <strong>user experience design</strong>, and <strong>service design</strong> with a special focus on elevating and managing high performance, multidisciplinary, and distributed teams.</p>

  <p>I speak at conferences, I mentor designers in <a title="Amazing Design People List" href="https://www.adplist.org" target="_blank">ADP List</a> and <a title="Designed Inc" href="https://www.designed.org" target="_blank">Designed</a>, and I advice startups on how to drive <strong>innovation</strong> in <a href="https://www.scalabl.com/en/" target="_blank">Scalabl</a>.</p>

  <p>Want to talk? Don't hesitate to <a href="https://calendly.com/natan-santolo/30min" target="_blank">reach out</a>.</p>
</section>
