<section class="about">
  <p>Nearly 10 years of unconventional leadership in design and innovation,
  driving business growth through strategic user experience across global markets. 
  Expert in designing product visions, building scalable UX infrastructure
  and discovery processes that accelerate organizational decision-making, with exceptional
  storytelling abilities that translate complex user insights into compelling business narratives
  and strategic action.</p>

  <p>Lately</p>
  <ul>
    <li>I coach people on startups, ux, product and design in <a href="https://adplist.org/mentors/natan-santolo">ADPList</a></li>
    <li>I wrote a book: <a href="/the-augmented-designer">The Augmented Designer</a> for designers to understand how AI can amplify their careers</li>
  </ul>
</section>